@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito';
}

#tela-principal {
    width: 85%;
    max-width: 600px;
    margin: 10px auto;
    padding: 20px;
    background-color: gray;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.678);
}

#tela-principal h1 {
    text-align: center;
    margin-bottom: 15px;
}

.form-group {
    margin: 10px auto;
    text-align: center;
}

.input {
    width: 100%;
    padding: 0.625rem;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.205);
}

.form-group button {
    width: calc(50% - 10px);
    min-width: 100px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.336);
    cursor: pointer;
    margin: 10px 0;
}

#btnEnviar {
    background-color: rgba(0, 255, 0, 0.699);
}

#btnEnviar:hover {
    box-shadow: 0px 0px 10px 0px rgb(0, 255, 0);
    transition: 200ms;
}

#btnLimpar:hover {
    box-shadow: 0px 0px 10px 0px white;
    transition: 200ms;
}

label[for=imc] {
    font-weight: bold;
    padding: 10px;
}

#resultadoImc {
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(78, 78, 78);
    max-width: 80px;
}

#aviso {
    margin-left: 5px;
    font-weight: bolder;
}

#resultado {
    margin: 0 auto;
    max-width: 300px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.336);
}

#resultado h2 {
    margin: 0 auto;
    border-bottom: 1px solid gray;
    width: 90%;
    padding: 10px;
}

#resultado p {
    margin: 0 auto;
    width: 80%;
    min-height: 20px;
    padding: 5px;
    border-bottom: 1px solid gray;
}

#resultado p:last-child {
    border-bottom: none;
}